#app {
  color: $light-font-color;
  background-color: $light-background-color;
  a {
    color: $light-font-color;
  }

  .dark {
    background-color: $dark-background-color;
    color: $dark-font-color;
    a {
      color: $dark-font-color;
    }
  }
}
