#app {
  color: $light-font-color;
  background-color: $light-background-color;
  a {
    color: $light-font-color;
    text-decoration: none;
    transition: 0.4s;
  }
  .dark {
    background-color: $dark-background-color;
    color: $dark-font-color;
    a {
      color: $dark-font-color;
    }
  }
}
